/* ====================== [ Start circle-bord ] ====================== */

.circle-bord {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
  cursor: pointer;

  .loader-circle {
    display: block;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    animation-name: SpinAround;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .loader-circle:nth-of-type(1) {
    animation-direction: reverse;
    transform-origin: 49.6% 49.8%;
  }
  .loader-circle:nth-of-type(2) {
    transform-origin: 49.5% 48.8%;
  }

  .carrow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    transform: scale(0.8);

    &.arow-down {
      left: calc(50% - 25px);
      top: 45%;

      svg {
        transform: rotateZ(90deg);
      }
    }

    svg {
      width: 70px;
      height: 30px;
      fill: #fff;
    }
  }

  &.sml {
    width: 100px;
    height: 100px;

    .loader-circle {
      width: 100px;
      height: 100px;
    }

    .carrow {
      svg {
        width: 60px;
      }

      &.arow-down {
        top: 40%;
      }
    }
  }
}

@keyframes SpinAround {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.rotate-circle {
  animation-name: rotateCircle;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ====================== [ End circle-bord ] ====================== */

/* ====================== [ Start lines ] ====================== */

main {
  position: relative;

  .vline {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    z-index: -1;
    pointer-events: none;
    opacity: 0.05;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid #eee;
    }

    &.tline {
      &:after {
        display: none;
      }
    }
  }

  .slines {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 0.05;

    span {
      width: 16.666666%;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      height: 100%;
    }
  }
}

/* ====================== [ End lines ] ====================== */

/* ====================== [ Start marquee ] ====================== */

.main-marq {
  position: relative;
  padding: 0;

  &:after {
    content: "";
    position: absolute;
    top: -30px;
    bottom: -30px;
    left: -30px;
    right: -30px;
    pointer-events: none;
  }

  &.lrg {
    .box {
      .item {
        h4 {
          font-size: 5vw;
        }
      }
    }
  }

  .slide-har {
    display: flex;
  }

  .strok {
    .item {
      h4 {
        color: tranredsparent;
        -webkit-text-stroke: 1px #fff;

        a {
          color: transparent;
          -webkit-text-stroke: 1px #fff;
        }
      }
    }
  }

  .non-strok {
    .item {
      h4 {
        color: #fff !important;
        -webkit-text-stroke: 0 !important;

        a {
          color: #fff !important;
          -webkit-text-stroke: 0 !important;
        }
      }
    }
  }

  .box {
    display: flex;

    .item {
      padding: 0 60px;
      display: flex;

      h4 {
        white-space: nowrap;
        font-size: 6vw;
        font-weight: 800;
        line-height: 1;
      }

      &:nth-of-type(even) {
        h4 {
          color: transparent;
          -webkit-text-stroke: 1px #211e1e;

          a {
            color: transparent;
            -webkit-text-stroke: 1px #928c8c;
          }
        }
      }
    }

    &:last-of-type {
      .item {
        &:nth-of-type(even) {
          h4 {
            color: #be1818;
            -webkit-text-stroke: 0;

            a {
              color: #928c8c;
              -webkit-text-stroke: 0;
            }
          }
        }

        &:nth-of-type(odd) {
          h4 {
            color: transparent;
            -webkit-text-stroke: 1px #140101;

            a {
              color: transparent;
              -webkit-text-stroke: 1px #928c8c;
            }
          }
        }
      }
    }
  }
}

.slide-har {
  position: relative;

  &.st1 {
    .box {
      position: relative;
      animation: slide-har 50s linear infinite;
    }
  }

  &.st2 {
    .box {
      position: relative;
      animation: slide-har-revers 50s linear infinite;
    }
  }
}

@keyframes slide-har {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-har-revers {
  100% {
    transform: translateX(0%);
  }
  0% {
    transform: translateX(-100%);
  }
}

/* ====================== [ End marquee ] ====================== */

/* ====================== [ Start Text Animation & Images ] ====================== */

.splitting.animated .char {
  animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation-delay: calc(30ms * var(--char-index));
}

.splitting .whitespace {
  width: 5px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpSm {
  0% {
    opacity: 0;
    transform: translateY(7px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.splitting.txt.animated .char {
  animation: fadeIn 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation-delay: calc(10ms * var(--char-index));
}

.splitting.txt .whitespace {
  width: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imago {
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
  transition: all 0.8s ease-in-out;
  transition-delay: 0.3s;
  position: relative;

  .inner {
    transform: scale(1.2);
    transition: all 0.8s ease-in-out;
    transition-delay: 0.4s;
    position: relative;
    z-index: 1;

    &.animated {
      transform: scale(1);
    }
  }

  &.animated {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.sp-hover {
  &:hover {
    .char {
      animation: fadeInUpSm 0.2s cubic-bezier(0.3, 0, 0.7, 1) both;
      animation-delay: calc(60ms * var(--char-index));
    }
  }
}

/* ====================== [ End Text Animation & Images ] ====================== */

/* ====================== [ Start mouse-cursor ] ====================== */

.swiper-wrapper {
  &.curs-scroll {
    cursor: none;
  }
}

.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translateZ(0);
  visibility: hidden;
}
.cursor-inner {
  margin-left: -2px;
  margin-top: -2px;
  width: 5px;
  height: 5px;
  z-index: 10000001;
  background-color: $main-color;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.cursor-hover {
    opacity: 0;
  }

  &.cursor-scroll {
    background: url(../img/icons/double-arrow.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: -11px;
    margin-top: -11px;
    width: 22px;
    height: 22px;
  }
}

.cursor-outer {
  margin-left: -17px;
  margin-top: -17px;
  width: 34px;
  height: 34px;
  border: 1px solid $main-color;
  box-sizing: border-box;
  opacity: 0.5;
  z-index: 10000000;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, background-color 0.3s, opacity 0.3s;

  &.cursor-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background-color: $main-color !important;
    opacity: 0.3 !important;
  }

  &.cursor-scroll {
    margin-left: -35px;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    border-color: transparent;
    background-color: #fff;
    opacity: 1;
  }
}

/* ====================== [ End mouse-cursor ] ====================== */

/* ====================== [ Start animate headline ] ====================== */

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* xclip */
.cd-headline.clip span {
  display: inline-block;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
}

/* slide */

.cd-headline.slide span {
  display: inline-block;
}
.cd-headline.slide .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.slide b {
  opacity: 0 !important;
  top: 0.2em;
}
.cd-headline.slide b.is-visible {
  top: 0;
  opacity: 1 !important;
  animation: slide-in 0.6s;
}
.cd-headline.slide b.is-hidden {
  animation: slide-out 0.6s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

/* ====================== [ End animate headline ] ====================== */

/* ====================== [ Start progress-wrap ] ====================== */

.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 400ms linear;
  mix-blend-mode: difference;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f077";
  text-align: center;
  line-height: 44px;
  font-size: 13px;
  font-weight: 900;
  color: #ccc;
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 400ms linear;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #ccc;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 400ms linear;
}

/* ====================== [ End progress-wrap ] ====================== */
