/* ====================== [ Start Work ] ====================== */

.works {
  position: relative;

  .simp-ctrl {
    display: flex;

    .swiper-nav-ctrl {
      width: 40px;
      height: 40px;
      border: 1px solid #eee;
      color: #fff;
      font-size: 20px;
      position: static;
      margin: 0 0 0 10px;

      &:after {
        display: none;
      }
    }
  }
}

.work-carsouel {
  .item-title-out {
    .img {
      height: 440px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.work-rand-width {
  .swiper-container {
    overflow: visible;
  }

  .swiper-slide {
    width: 50% !important;

    &:nth-of-type(even) {
      width: 30% !important;
    }

    .img {
      height: 450px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .item-title-in {
    position: relative;
    overflow: hidden;

    .info {
      position: absolute;
      bottom: 40px;
      left: 0;
      padding: 30px;
      background: #191b1d;
      transform: translateX(-110%);
      transition: all 0.4s;
    }

    &:hover {
      .info {
        transform: translateX(0);
      }
    }
  }
}

.work-rand-height {
  .swiper-container {
    &.cuting {
      width: 120%;
    }
  }

  .item-title-in {
    position: relative;
    overflow: hidden;

    .info {
      position: absolute;
      bottom: 40px;
      left: 0;
      padding: 30px;
      background: #191b1d;
      transform: translateX(-110%);
      transition: all 0.4s;
    }

    &:hover {
      .info {
        transform: translateX(0);
      }
    }
  }
}

.portfolio {
  &.box-bord {
    overflow: hidden;

    .gallery {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: -50%;
        bottom: -20%;
        left: 33.33333333%;
        width: 33.3333333%;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        opacity: 0.05;
        pointer-events: none;
      }

      &:before {
        content: "";
        position: absolute;
        top: -50%;
        bottom: -20%;
        left: 0;
        right: 0;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        opacity: 0.05;
        pointer-events: none;
      }

      .items {
        margin-bottom: 60px;
        padding-bottom: 60px;
        border-bottom: 1px solid rgba(238, 238, 238, 0.05);

        &.no-bord-lg {
          padding-bottom: 0;
          border: 0;
        }
      }
    }
  }

  &.agn {
    .item-img {
      position: relative;

      .tag {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: absolute;
        top: 50px;
        right: -60px;
        transform: rotate(-90deg) translateX(-50%) translateY(100%);
        opacity: 0.7;

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: -60px;
          width: 40px;
          border-bottom: 1px solid #eee;
        }
      }
    }

    .info {
      position: relative;

      .arow-link {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 50%;
        margin-left: auto;

        img {
          width: 20px;
          transform: rotate(-35deg);
        }
      }
    }
  }

  .filtering {
    span {
      font-size: 16px;
      font-weight: 500;
      margin-right: 20px;
      padding-right: 30px;
      letter-spacing: 1px;
      cursor: pointer;
      position: relative;

      &:after {
        content: "/";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
      }

      &:before {
        content: attr(data-count);
        position: absolute;
        right: 25px;
        top: -20px;
        font-size: 12px;
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }

    .active {
      color: $main-color;
    }

    .text {
      font-weight: 700;
      cursor: auto;

      &:after {
        display: none;
      }
    }
  }

  .max-margin {
    margin-left: -60px;
    margin-right: -60px;

    .items {
      padding: 0 60px;
    }

    .toup {
      margin-top: -120px;
    }
  }

  .mid-margin {
    margin-left: -30px;
    margin-right: -30px;

    .items {
      padding: 0 30px;
    }
  }

  .tin-margin {
    margin-left: -10px;
    margin-right: -10px;

    .items {
      padding: 0 10px;
    }
  }

  .sam-height {
    margin-left: -20px;
    margin-right: -20px;

    .items {
      padding-left: 20px;
      padding-right: 20px;

      .item-img {
        height: 420px;
        display: none;

        a {
          width: 100%;
        }
      }

      img {
        height: 420px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .change-img {
    .grid-item-img {
      height: 550px;
    }

    .height-2 {
      .grid-item-img {
        height: 350px;
      }
    }
  }

  .metro {
    .items {
      &.height-1 {
        height: 530px;

        img {
          height: 530px;
          width: 100%;
          object-fit: cover;
        }
      }

      &.height-2 {
        height: 250px;

        img {
          height: 250px;
          width: 100%;
          object-fit: cover;
        }
      }

      .item-img {
        a {
          width: 100%;
        }
      }
    }
  }

  .packery {
    .items {
      padding: 0;

      &.height-1 {
        height: 540px;

        img {
          height: 540px;
          width: 100%;
          object-fit: cover;
        }
      }

      &.height-2 {
        height: 270px;

        img {
          height: 270px;
          width: 100%;
          object-fit: cover;
        }
      }

      .item-img {
        a {
          width: 100%;
        }
      }
    }
  }

  .blur {
    .items {
      .item-img {
        overflow: hidden;

        &:hover {
          img {
            filter: blur(5px);
            transform: scale(1.1);
          }
        }

        img {
          transition: all 0.4s;
        }
      }
    }
  }

  .info-shadow {
    .item-img {
      position: relative;
      overflow: hidden;

      &:hover {
        &:after {
          opacity: 0.8;
        }

        .info {
          transform: translateY(0);
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, transparent, #191b1d);
        transition: all 0.4s;
        pointer-events: none;
        opacity: 0;
      }

      .info {
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 30px;
        width: 100%;
        transform: translateY(105%);
        transition: all 0.4s;
        z-index: 2;
      }
    }
  }

  .info-overlay {
    .item-img {
      position: relative;
      overflow: hidden;

      &:hover {
        &:after {
          opacity: 0.8;
        }

        .info {
          h6,
          .tag {
            transform: translateY(0);
            opacity: 1;
          }

          .tag {
            transition-delay: 0.2s;
          }
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main-color;
        transition: all 0.4s;
        pointer-events: none;
        opacity: 0;
      }

      .info {
        color: #fff !important;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        overflow: hidden;
        z-index: 2;

        h6,
        .tag {
          transform: translateY(100px);
          opacity: 0;
          transition: all 0.6s;

          a {
            color: #fff !important;
          }
        }

        .tag {
          transition-delay: 0;
        }
      }
    }
  }

  .item-img {
    position: relative;
    height: 100%;

    .info-over {
      position: absolute;
      bottom: 30px;
      left: 30px;
      opacity: 0;
    }
  }
}

.video-wrapper {
  min-height: 80vh;

  .vid {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    z-index: 5;
  }
}

.nex-prv {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  .nxt,
  .prv {
    .img {
      padding: 30px;
      background-size: cover;
      background-position: center center;
      position: relative;
      transition: all 0.4s;

      &:hover {
        color: #fff;

        &:after {
          opacity: 0;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #191b1d;
        transition: all 0.4s;
      }

      .overly {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main-color;
        opacity: 0.7;
      }

      .text-center {
        position: relative;
        z-index: 4;
      }
    }
  }

  .all-works {
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    height: 100%;
    padding: 30px;
  }
}

.grid-item-img {
  display: block;
  height: 100%;
  width: 100%;
}

.grid-item-img canvas {
  height: 100%;
}

.grid-item-img img {
  height: 100%;
  display: block;
}

.grid-item-img img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.grid-item:hover .grid-item-img img:nth-child(2) {
  opacity: 1;
}

.js .grid-item-img img {
  display: none;
}

/* ====================== [ End Work ] ====================== */
