/* ====================== [ Start Slider ] ====================== */

.slider {
  position: relative;

  &.box-slide {
    .parallax-slider {
      position: relative;
      padding-top: 80px;
      width: calc(100% - 160px);
      margin-left: 80px;

      .swiper-slide {
        min-height: calc(100vh - 160px);
      }
    }
  }

  .swiper-slide-active {
    z-index: 3;
  }

  .parallax-slider {
    position: relative;

    .swiper-slide {
      position: relative;
      overflow: hidden;
      width: 100%;
      min-height: 100vh;
      padding: 80px 0;

      .bg-img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
      }
    }

    .swiper-slide-active {
      .caption {
        h1 {
          transition: all 0s;
          opacity: 1;
          visibility: visible;
          transform: translateY(0);

          .char {
            animation: fadeInUp 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
            animation-delay: calc(40ms * var(--char-index));
          }
        }

        .thin,
        .btn-curve,
        p {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .caption {
      .splitting .whitespace {
        width: 10px;
      }

      h1 {
        font-size: 50px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
      }

      p {
        color: #eee;
        margin-top: 15px;
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.4s;
        transition-delay: 1s;
      }
    }
  }

  .setone {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 8;

    .swiper-nav-ctrl {
      color: #ccc;
      font-size: 13px;
      width: 55px;
      height: 55px;
      line-height: 55px;
      text-align: center;
      margin: 5px 0;
      border: 1px solid rgba(255, 255, 255, 0.3);
      position: static;

      &:after {
        display: none;
      }
    }

    &.setwo {
      position: static;

      .swiper-nav-ctrl {
        border-radius: 50%;
      }

      .next-ctrl {
        position: absolute;
        top: 50%;
        right: 30px;
      }

      .prev-ctrl {
        position: absolute;
        top: 50%;
        left: 30px;
      }
    }
  }

  .swiper-pagination-fraction.top {
    position: absolute;
    right: 15%;
    left: auto;
    bottom: auto;
    top: 20%;
    width: auto;
    color: #fff;
    font-size: 40px;
    font-weight: 500;

    .swiper-pagination-current {
      font-size: 55px;
      font-weight: 700;
      position: relative;
      color: transparent;
      -webkit-text-stroke: 0.5px #fff;

      &:after {
        content: "/";
        color: #fff;
        position: relative;
        margin: 0 10px;
        font-size: 12px;
        font-weight: 100;
      }
    }

    &.botm {
      top: auto;
      bottom: 40px;
      right: 40px;
    }

    &.left {
      right: auto;
      left: 40px;
    }
  }

  .social-icon {
    position: absolute;
    left: 40px;
    bottom: 100px;
    z-index: 8;

    a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.05);
      color: #fff;
      font-size: 13px;

      &:hover {
        background: #fff;
        color: #23262d;
      }
    }
  }

  .curve-buttom {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 9;

    svg {
      width: 100%;
      height: 90px;
    }
  }
}

.fixed-slider {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.ed-slide {
  padding-top: 160px;

  .cont {
    h1 {
      font-size: 5vw;
      line-height: 1.4;
      position: relative;
      bottom: -50px;
      z-index: 2;
    }
  }

  .img {
    height: 80vh;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.hed-minml {
  min-height: 50vh;
  padding: 220px 0 120px;
}

header {
  &.full-height {
    min-height: 100vh;
    padding: 80px 0;
  }

  .arrow-down {
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
  }
}

.slide-creative {
  overflow: hidden;

  .caption {
    h1 {
      font-size: 75px;
      line-height: 1.3;
    }
  }

  #home_wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    overflow: hidden;
    opacity: 0.5;
  }
}

.slider-main {
  position: relative;
  overflow: hidden;

  .vline {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    z-index: 1;
    pointer-events: none;
    opacity: 0.15;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid #eee;
    }
  }

  .circle-bord {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 3;
  }

  .dots-bg {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
  }
}

.pg-header {
  padding-top: 220px;
  position: relative;

  &.style2 {
    min-height: 80vh;
  }

  &.tpost {
    z-index: 4;
    min-height: 90vh;

    .cont {
      .item {
        position: relative;
        padding-right: 30px;

        &:after {
          content: "";
          width: 7px;
          height: 7px;
          background: #eee;
          border-radius: 50%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &:last-of-type {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 8;

    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
    }
  }

  .shadw {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #191b1d);
    pointer-events: none;
  }

  .background {
    height: 70vh;
    position: relative;

    h4 {
      font-size: 4vw;
    }

    .under {
      position: absolute;
      top: 0;
      right: 10%;
      transform: translateY(-55%);
      z-index: -1;
    }

    .up {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      h4 {
        color: #fff !important;
        position: absolute;
        top: 0;
        right: 10%;
        transform: translateY(-55%);
        z-index: 3;
      }
    }

    .dots-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: auto;
      background-repeat: repeat;
      opacity: 0.7;
    }
  }
}

.works-header {
  position: relative;
  height: 85vh;
  padding: 120px 0;
  background-color: #191b1d;
  z-index: -1;

  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 30%;
    background-size: cover;
    z-index: -1;
  }
  .title {
    z-index: 999 !important;
  }
  .item {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  pointer-events: none;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(16px);
    -ms-transform: translateY(16px);
    transform: translateY(16px);
  }
}

/* ====================== [ End Slider ] ====================== */
