

/* ====================== [ Start Team ] ====================== */

.team-carsouel{

    .item{
        overflow: hidden;
        
        .img{
            position: relative;

            .info{
                position: absolute;
                bottom: 0;
                left: 20px;
                right: 20px;
                padding: 30px 20px;
                background: #191b1d;
                transform: translateY(110%);
                transition: all .4s;
            }
        }

        &:hover{

            .img{

                .info{
                    transform: translateY(0);
                }
            }
        }
    }
}

.teams{

    .max-margin{
        margin-left: -40px;
        margin-right: -40px;

        .lg-marg{
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

/* ====================== [ End Team ] ====================== */