
/* ====================== [ Start Utility  ] ====================== */

@media screen and (max-width: 768px) {

    .container, .container-md, .container-sm {
        max-width: 720px;
    }

}

@media screen and (max-width: 576px) {

    .container, .container-sm {
        max-width: 540px;
    }

}

@media screen and (min-width: 1400px) {

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }

}

@media screen and (min-width: 1200px) {

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }

}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* ====================== [ End Utility  ] ====================== */