
// 1d1e1f

$body-color: #fff;
$pcolor: #bcbcbe;
$sub-bg: #16181a;
$main-color: #ff7425;
$dark-shadow: 0px 10px 40px -4px rgba(0,0,0,.1); 
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;
$desk-lg-screen: 1200px;
